# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# json 交易对K线数据 
data/kline-simple/
data/bot-state.json
data/strategy-analysis.json
data/trade-history.json
data/ai-learning-result.json

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
